/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/components/hero/hero.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.hero_columnAlignment___jCnD {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero_rowAlignment__HSry4 {
    display: flex;
    justify-content: center;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/components/singlephrase/singlephrase.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.singlephrase_sectionBody__XYLxC{
  padding: 20px;
  width: 50%;
}

.singlephrase_sectionHeader__Kmub3{
  -webkit-text-decoration-line:underline;
          text-decoration-line:underline;
  -webkit-text-decoration-style:solid;
          text-decoration-style:solid;
}

.singlephrase_definitionText__GjjhG{
  font-weight: 300;
}
.singlephrase_explanationText___oex6 {
  font-style: italic;
  font-weight: 300;
}

.singlephrase_voteContainer__30RsA {
  display: flex;
  gap: 2em;
}

.singlephrase_singleVoteContainer__E2amW {
  display: flex;
  justify-content: center;
  align-items: center;
}

.singlephrase_voteIcon__oEXXY{
  color: yellow;
}

.singlephrase_date__p9N4f{
  font-size: x-small;
}



