/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/components/hero/hero.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.hero_alignment__vK1uJ {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/components/singlephrase/singlephrase.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.singlephrase_sectionBody__XYLxC{
  padding: 20px;
  width: 40%;
}

.singlephrase_sectionHeader__Kmub3{
  text-align: left;
  -webkit-text-decoration-line:underline;
          text-decoration-line:underline;
  -webkit-text-decoration-style:solid;
          text-decoration-style:solid;
}
.singlephrase_sectionHeader__Kmub3:hover{
  color: yellow;
}

.singlephrase_initialText__Hu0tE{
  text-align: left;
}
.singlephrase_explanationText___oex6 {
  font-style: italic;
  font-weight: 200;
}

.singlephrase_voteContainer__30RsA {
  display: flex;
  gap: 2em;
}

.singlephrase_singleVoteContainer__E2amW {
  display: flex;
  justify-content: center;
  align-items: center;
}

.singlephrase_voteIcon__oEXXY{
  color: yellow;
}



/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/components/authorInfo/authorinfopane.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.authorinfopane_authorInfoContainer__drUhb {
    display: flex;
    align-items: center;
    gap: .2rem;
}
