.columnAlignment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rowAlignment {
    display: flex;
    align-items: center;
    justify-content: center;
}