.sectionBody{
  padding: 20px;
  width: 40%;
}

.sectionHeader{
  text-decoration-line:underline;
  text-decoration-style:solid;
}

.definitionText{
  margin: 0;
}
.explanationText {
  font-style: italic;
  font-weight: 200;
}

.voteContainer {
  display: flex;
  gap: 2em;
}

.singleVoteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.voteIcon{
  color: yellow;
}


