.sectionBody{
  padding: 20px;
  width: 40%;
}

.sectionHeader{
  text-align: left;
  text-decoration: underline;
}

.initialText{
  text-align: left;

}
.explanationText {
  font-style: italic;
  font-weight: 200;
}
